@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Fredoka:wght@400;600&family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Fredoka', 'Comic Neue', sans-serif;
}

body {
  background-image: url("/Fondo2.png");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  width: 95vw;
  height: 90vh;
 padding: 20px;
  background-color: rgba(193, 217, 193, 0.7);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}

/* Estilos para pantallas pequeñas (teléfonos) */
@media (max-width: 768px) {
  body {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }

   .container {
    flex-direction: column; /* Cambia la dirección de los elementos dentro de .container a columna */
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
  }
}

/* Estilos para pantallas muy pequeñas (menos de 480px) */
@media (max-width: 480px) {
  body {
    font-size: 14px; /* Ajusta el tamaño general de la fuente */
  }
}
